<div layout flex *ngIf="recibo$ | async as recibo">
  <mat-card flex="60">
    <mat-card-header>
      <mat-card-title flex>
        {{ recibo.emisor }}
      </mat-card-title>
      <mat-card-subtitle>
        Id: {{ recibo.id }}
        <span class="pad-left">UUID:</span>
        <span class="pad-left">{{ recibo.uuid }}</span>
        <span class="pad-left">Monto: </span>
        <span class="pad-left">{{ recibo.monto | currency }}</span>
        <span class="pad-left"
          >FechaPago:{{ recibo.fechaPago | date: 'dd/MM/yyyy' }}</span
        >
      </mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <sx-recibosdet-table [partidas]="partidas$ | async">
      </sx-recibosdet-table>
    </mat-card-content>
    <mat-card-actions>
      <ng-template
        tdLoading
        [tdLoadingUntil]="!(loading$ | async)"
        tdLoadingStrategy="overlay"
      >
        <ng-container>
          <button mat-button (click)="onBack()">
            <mat-icon>arrow_back</mat-icon> RECIBOS
          </button>
          <button
            mat-button
            color="primary"
            [disabled]="recibo.revision"
            (click)="asignarRequisicion(recibo)"
          >
            <mat-icon>attach_file</mat-icon> ASIGNAR REQUISICIÓN
          </button>
          <button
            mat-button
            (click)="onRevision(recibo)"
            [disabled]="!recibo.requisicion || recibo.revision"
          >
            <mat-icon>save</mat-icon> REVISION
          </button>
          <span class="pad-left" *ngIf="recibo.revision">
            Rev : {{ recibo.revision | date: 'dd/MM/yyyy' }}
          </span>
        </ng-container>
      </ng-template>
    </mat-card-actions>
  </mat-card>

  <mat-card flex="40" *ngIf="recibo.requisicion as requisicion">
    <mat-card-title>Requisición {{ requisicion.folio }}</mat-card-title>
    <mat-card-subtitle>
      <span>Fecha: </span>
      <span>{{ requisicion.egreso.fecha | date: 'dd/MM/yyyy' }}</span>
      <span class="pad-left">Importe</span>
      <span class="pad-left">{{ requisicion.total | currency }}</span>
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
      <sx-reqdet-table [partidas]="requisicion.partidas"></sx-reqdet-table>
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]="recibo.revision"
        mat-button
        color="warn"
        (click)="onQuitarRequisicion(requisicion, recibo)"
      >
        <mat-icon>delete</mat-icon> QUITAR
      </button>
    </mat-card-actions>
  </mat-card>
</div>
