<div class="table-panel">

    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
            <td mat-cell *matCellDef="let factura" class="cursor-pointer" [ngClass]="{'tc-pink-600': !factura.analizada}">
                <span layout>
          <span>{{factura.nombre}}</span>
                <span flex></span>
                <span *ngIf="!factura.analizada" class="pad-right text-sm"> (Sin analizar)</span>
                </span>
            </td>
        </ng-container>
        <ng-container matColumnDef="serie">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Serie</th>
            <td mat-cell *matCellDef="let factura">{{factura.serie}}</td>
        </ng-container>
        <ng-container matColumnDef="folio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Folio</th>
            <td mat-cell *matCellDef="let factura" class="cursor-pointer">{{factura.folio}}</td>
        </ng-container>
        <ng-container matColumnDef="metodoDePago">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>MP</th>
            <td mat-cell *matCellDef="let factura" class="cursor-pointer">{{factura.comprobanteFiscal.metodoDePago}}</td>
        </ng-container>
        <ng-container matColumnDef="usoCfdi">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Uso</th>
            <td mat-cell *matCellDef="let factura" class="cursor-pointer">{{factura.comprobanteFiscal.usoCfdi}}</td>
        </ng-container>
        <ng-container matColumnDef="formaDePago">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>FP</th>
            <td mat-cell *matCellDef="let factura" class="cursor-pointer">{{factura.formaDePago}}</td>
        </ng-container>
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
            <td mat-cell *matCellDef="let factura">{{changeDate(factura.fecha) | date: 'dd/MM/yyyy'}}</td>
        </ng-container>
        <ng-container matColumnDef="moneda">
            <th mat-header-cell *matHeaderCellDef>Moneda</th>
            <td mat-cell *matCellDef="let factura">{{factura.moneda}}</td>
        </ng-container>
        <ng-container matColumnDef="tipoDeCambio">
            <th mat-header-cell *matHeaderCellDef>TC</th>
            <td mat-cell *matCellDef="let factura">{{factura.tipoDeCambio}}</td>
        </ng-container>
        <ng-container matColumnDef="tcContable">
            <th mat-header-cell *matHeaderCellDef>TC (Cont)</th>
            <td mat-cell *matCellDef="let factura">{{factura.tcContable}}</td>
        </ng-container>
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
            <td mat-cell *matCellDef="let factura">{{factura.total | currency:'USD'}}</td>
        </ng-container>

        <ng-container matColumnDef="uuid">
            <th mat-header-cell *matHeaderCellDef>UIID</th>
            <td mat-cell *matCellDef="let row" [ngClass]="{'suspendido': !row.analizada}">{{row.uuid.substr(-12, 12)}}</td>
        </ng-container>
        <ng-container matColumnDef="tipoDeComprobante">
            <th mat-header-cell *matHeaderCellDef>Tipo</th>
            <td mat-cell *matCellDef="let factura">{{factura.comprobanteFiscal.tipoDeComprobante}}</td>
        </ng-container>
        <ng-container matColumnDef="versionCfdi">
            <th mat-header-cell *matHeaderCellDef>Versión</th>
            <td mat-cell *matCellDef="let factura" class="cursor-pointer">{{factura.comprobanteFiscal.versionCfdi}}</td>
        </ng-container>
        <ng-container matColumnDef="operaciones">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row, let i = index">
                <mat-icon color="warn" class="cursor-pointer" *ngIf="!readOnly" (click)="delete.emit(i)">delete</mat-icon>
                <span class="pad-right cursor-pointer" (click)="pdf.emit(row)">PDF</span>
                <span class="cursor-pointer" (click)="xml.emit(row)">XML</span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let factura; columns: displayColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[ 1000]" showFirstLastButtons></mat-paginator>
</div>