<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title *ngIf="rembolso">
      <div layout>
        <span class="pad-right " layout>
          <span>Rembolso: </span>
          <span class="pad-left tc-blue-700">{{rembolso.id}}</span>
        </span>
        <span class="pad-left"> {{rembolso.nombre}}</span>
        <span flex></span>
        <span>Total: {{rembolso.total | currency}}</span>
        <span fex></span>
      </div>
    </mat-card-title>
    <mat-card-subtitle *ngIf="rembolso.egreso">
      <span layout>
        <span>Pagada: </span>
        <span class="pad-left">{{rembolso.egreso.fecha | date: 'dd/MM/yyyy'}}</span>
        <ng-container *ngIf="rembolso.egreso.cheque">
          <span class="pad-left">
            Cheque: {{rembolso.egreso.cheque.folio}} ({{rembolso.egreso.cheque.banco}})
          </span>
          <span class="pad-left" *ngIf="rembolso?.egreso?.cheque?.impresion">
            Impreso: ({{rembolso.egreso.cheque.impresion | date: 'dd/MM/yyyy'}})
          </span>
        </ng-container>
        <span flex></span>

      </span>
    </mat-card-subtitle>
    <mat-divider></mat-divider>

    <div layout class="pad">
      <sx-sucursal-field [parent]="form"></sx-sucursal-field>
      <mat-form-field class="pad-left">
        <input matInput [matDatepicker]="myDatepicker" formControlName="fecha" placeholder="Fecha">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="pad-left">
        <input matInput [matDatepicker]="myDatepicker2" formControlName="fechaDePago" placeholder="Fecha pago">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker2></mat-datepicker>
      </mat-form-field>
      <sx-upper-case-field formControlName="comentario" flex placeholder="Comentario" class="pad-left"></sx-upper-case-field>
    </div>

    <div class="partidas-panel">
      <sx-rembolso-partidas [parent]="form" [partidas]="partidas.value" [readOnly]="form.disabled">
      </sx-rembolso-partidas>
    </div>

    <mat-divider></mat-divider>
    <mat-card-actions>
      <ng-content></ng-content>

      <ng-container *ngIf="!rembolso?.egreso">
      </ng-container>

    </mat-card-actions>
  </mat-card>
</form>
