<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row" matTooltip="{{row.id}}">{{ row.id }}</td>
    </ng-container>

    <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
        <td mat-cell *matCellDef="let row">{{ changeDate(row.fecha) | date: 'dd/MM/yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="origen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta</th>
        <td mat-cell *matCellDef="let row">{{ row.origen }}</td>
    </ng-container>

    <ng-container matColumnDef="destino">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Inversión</th>
        <td mat-cell *matCellDef="let row">{{ row.destino }}</td>
    </ng-container>

    <ng-container matColumnDef="comentario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Comentario</th>
        <td mat-cell *matCellDef="let row" matTooltip="{{row.comentario}}">
            {{ row.comentario }}
        </td>
    </ng-container>

    <ng-container matColumnDef="moneda">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>M</th>
        <td mat-cell *matCellDef="let row">{{ row.moneda }}</td>
    </ng-container>

    <ng-container matColumnDef="importe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
        <td mat-cell *matCellDef="let row">{{ row.importe | currency }}</td>
    </ng-container>
    <ng-container matColumnDef="rendimientoCalculado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Intereses (E)</th>
        <td mat-cell *matCellDef="let row">
            {{ row.rendimientoCalculado | currency }}
        </td>
    </ng-container>
    <ng-container matColumnDef="rendimientoReal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Intereses (R)</th>
        <td mat-cell *matCellDef="let row">{{ row.rendimientoReal | currency }}</td>
    </ng-container>
    <ng-container matColumnDef="plazo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Plazo</th>
        <td mat-cell *matCellDef="let row">{{ row.plazo }}</td>
    </ng-container>
    <ng-container matColumnDef="tasa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tasa</th>
        <td mat-cell *matCellDef="let row">{{ row.tasa }}</td>
    </ng-container>
    <ng-container matColumnDef="vencimiento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vto</th>
        <td mat-cell *matCellDef="let row">
            {{ row.vencimiento | date: 'dd/MM/yyyy' }}
        </td>
    </ng-container>
    <ng-container matColumnDef="referencia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Referencia</th>
        <td mat-cell *matCellDef="let row">{{ row.referencia }}</td>
    </ng-container>

    <ng-container matColumnDef="updateUser">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
        <td mat-cell *matCellDef="let row" matTooltip="{{row.lastUpdated | date: 'dd/MM/yyyy : HH:mm:ss'}}">
            {{ row.updateUser }}
        </td>
    </ng-container>

    <ng-container matColumnDef="lastUpdated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Modificado</th>
        <td mat-cell *matCellDef="let row">
            {{ row.lastUpdated | date: 'dd/MM/yyyy : HH:mm' }}
        </td>
    </ng-container>

    <ng-container matColumnDef="operaciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>...</th>
        <td mat-cell *matCellDef="let row">
            <mat-icon (click)="doRetorno($event, row)" matTooltip="Retorno de la inversión" *ngIf="!row.retorno">keyboard_return</mat-icon>
            <mat-icon color="warn" (click)="doDelete($event, row)">delete</mat-icon>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns" class="cursor-pointer" (click)="toggle(row)" [ngClass]="{ active: selected?.id === row.id }"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 200]" [pageSize]="20" showFirstLastButtons></mat-paginator>