<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="receptor">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Receptor</th>
    <td mat-cell *matCellDef="let cfdi">{{ cfdi.receptor }}</td>
    <td mat-footer-cell *matFooterCellDef>Totales</td>
  </ng-container>
  <ng-container matColumnDef="receptorRfc">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>RFC</th>
    <td mat-cell *matCellDef="let cfdi">{{ cfdi.receptorRfc }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="serie">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Serie</th>
    <td mat-cell *matCellDef="let cfdi">{{ cfdi.serie }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="folio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Folio</th>
    <td mat-cell *matCellDef="let cfdi">{{ cfdi.folio }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="origen">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Origen</th>
    <td mat-cell *matCellDef="let cfdi">{{ cfdi.origen }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let cfdi">{{ cfdi.status }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="comentario">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Comentario</th>
    <td mat-cell *matCellDef="let cfdi" class="cursor-pointer">
      {{ cfdi.comentario }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
    <td mat-cell *matCellDef="let cfdi">
      {{ cfdi.fecha | date: 'dd/MM/yyyy' }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="moneda">
    <th mat-header-cell *matHeaderCellDef>Moneda</th>
    <td mat-cell *matCellDef="let cfdi">{{ cfdi.moneda }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="tipoDeCambio">
    <th mat-header-cell *matHeaderCellDef>TC</th>
    <td mat-cell *matCellDef="let cfdi">{{ cfdi.tipoDeCambio }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
    <td mat-cell *matCellDef="let cfdi">{{ cfdi.total | currency: 'USD' }}</td>
    <td mat-footer-cell *matFooterCellDef>
      {{ getTotal('total') | currency }}
    </td>
  </ng-container>
  <ng-container matColumnDef="uuid">
    <th mat-header-cell *matHeaderCellDef>UUID</th>
    <td mat-cell *matCellDef="let cfdi" class="cursor-pointer">
      <span (click)="showUUID($event, cfdi)">{{
        cfdi.uuid.substr(-12, 12)
      }}</span>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="operaciones">
    <th mat-header-cell *matHeaderCellDef>
      <!-- <mat-icon>more_vert</mat-icon> -->
    </th>
    <td mat-cell *matCellDef="let cfdi">
      <span (click)="doCancel($event, cfdi)">CANCELAR</span>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr
    mat-row
    *matRowDef="let cfdi; columns: displayColumns"
    [ngClass]="{ active: isSelected(cfdi) }"
    class="cursor-pointer"
    (click)="toogleSelect(cfdi)"
  ></tr>
  <tr mat-footer-row *matFooterRowDef="displayColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[20, 30, 50, 100, 200]"
  [pageSize]="20"
  showFirstLastButtons
>
</mat-paginator>
