<table mat-table [dataSource]="dataSource" class="" matSort>
  <ng-container matColumnDef="proveedor">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
    <td mat-cell *matCellDef="let row">{{row.proveedor.nombre}}</td>
  </ng-container>

  <ng-container matColumnDef="factura">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Factura</th>
    <td mat-cell *matCellDef="let row">
      {{row.factura.serie}} {{row.factura.folio}} ({{row.factura.fecha | date: 'dd/MM/yyyy'}})
    </td>
  </ng-container>

  <ng-container matColumnDef="importe">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
    <td mat-cell *matCellDef="let row">{{row.importe | currency}}</td>
  </ng-container>

  <ng-container matColumnDef="uuid">
    <th mat-header-cell *matHeaderCellDef>UIID</th>
    <td mat-cell *matCellDef="let row">{{row.factura.uuid}}</td>
  </ng-container>

  <ng-container matColumnDef="folio">
      <th mat-header-cell *matHeaderCellDef>Folio</th>
      <td mat-cell *matCellDef="let row">{{row.folio}}</td>
    </ng-container>

  <ng-container matColumnDef="updateUser">
    <th mat-header-cell *matHeaderCellDef>Modificado</th>
    <td mat-cell *matCellDef="let row">{{row.updateUser}}</td>
  </ng-container>

  <ng-container matColumnDef="cerrado">
    <th mat-header-cell *matHeaderCellDef>Cerrado</th>
    <td mat-cell *matCellDef="let row">{{row.cerrado | date: 'dd/MM/yyyy'}}</td>
  </ng-container>

  <ng-container matColumnDef="operaciones">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <mat-icon (click)="onEdit($event, row)" class="pad-right">edit</mat-icon>
      <sx-report-button url="analisisDeFactura/print/{{row.id}}" [smallIcon]="true"></sx-report-button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns" class="cursor-pointer" [ngClass]="{'active': row.selected}" (click)="toogleSelect(row)">
  </tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 200]" showFirstLastButtons></mat-paginator>
