<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div layout layout-align="center center">
      <span class="mat-title pad-left pad-top">Orden de compra
        <span *ngIf="orden">
          <span>: {{orden?.folio}}</span>
          <span class="pad-left">({{orden?.fecha | date: 'dd/MM/yyyy'}})</span>
        </span>
      </span>
      <span flex></span>
      <button mat-icon-button type="button" (click)="onInsert()" [disabled]="!proveedor">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div layout>
        <sx-proveedor-field formControlName="proveedor" flex></sx-proveedor-field>
        <mat-form-field flex class="pad-left">
          <input matInput formControlName="comentario" placeholder="Comentario">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <sx-orden-form-table #table [partidas]="partidas"></sx-orden-form-table>
    <mat-divider></mat-divider>
    <sx-orden-form-buttons [parent]="form" (save)="onSubmit()"></sx-orden-form-buttons>
  </form>
</mat-card>
