<td-layout #layout mode="over" opened="false" [sidenavWidth]="sidenavWidth">
  <div td-sidenav-content></div>

  <td-navigation-drawer
    sidenavTitle="Compras"
    color="accent"
    navigationRoute="/"
    email="{{ (session$ | async)?.username }}"
    flex
  >
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a mat-list-item matTooltip="Salir del sistema" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon> Salir del sistema
        </a>
      </mat-nav-list>
    </div>

    <mat-nav-list>
      <a
        *ngFor="let item of navigation"
        mat-list-item
        [routerLink]="[item.route]"
        (click)="layout.close()"
      >
        <mat-icon>{{ item.icon }}</mat-icon
        >{{ item.title }}
      </a>
    </mat-nav-list>
  </td-navigation-drawer>

  <td-layout-nav navigationRoute="/" color="primary">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span [routerLink]="['/']" class="cursor-pointer">SX Compras</span>
      <span flex></span>
      <span>{{ (sucursal$ | async)?.nombre }}</span>
      <span flex></span>
      <sx-logout-button></sx-logout-button>
    </div>
    <div flex="column">
      <router-outlet></router-outlet>
    </div>
    <td-layout-footer>
      <sx-footer [session]="session$ | async"></sx-footer>
    </td-layout-footer>
  </td-layout-nav>
</td-layout>
