form {
  padding: 5px;
  margin: 0;
  mat-form-field:nth-child(1n) {
    margin: 0 10px 0 0px;
  }
  // border: .5px solid gray;
  display: flex;
  flex-direction: column;
  .partidas-panel {
    min-height: 400px;
    flex-grow: 1;
    overflow: auto;
  }
  .descuento {
    max-width: 100px;
  }
  .importe {
    max-width: 120px;
  }
}


