mat-card {
  width: calc(100% - 12px);
  height: calc(100% - 12px);
}
.mat-card {
  display: flex;
  flex-direction: column;
}

.partidas-panel {
  flex-grow: 1;
  overflow: auto;
}

.form-panel {
  padding: 10px;
  mat-form-field:nth-child(1n) {
    margin: 0 10px 0 0px;
  }
  .descuento {
    max-width: 100px;
  }
  .importe {
    max-width: 120px;
  }
}



