<mat-card flex>
  <sx-standard-header
    title="Compras"
    [periodo]="periodo$ | async"
    (periodoChange)="onPeriodo($event)"
    (reload)="reload()"
    (create)="onCreate()"
    (download)="grid.exportData()"
  >
    <button
      class="actions"
      mat-menu-item
      (click)="mostrarPartidas(selected)"
      [disabled]="selected.length === 0"
    >
      <mat-icon>pageview</mat-icon> Partidas
    </button>
  </sx-standard-header>
  <mat-divider></mat-divider>
  <ng-template
    tdLoading
    [tdLoadingUntil]="!(loading$ | async)"
    tdLoadingStrategy="overlay"
  >
  </ng-template>
  <div class="grid-panel">
    <sx-compras-table
      #grid
      [partidas]="compras$ | async"
      (select)="onSelect($event)"
      (selectionChange)="selected = $event"
      (print)="onPrint($event)"
    ></sx-compras-table>
  </div>
</mat-card>
