<div [formGroup]="parent">
  <table mat-table formArrayName="partidas" [dataSource]="partidas" matSort>
    <ng-container matColumnDef="clave">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
      <td mat-cell *matCellDef="let row">{{row.clave}} </td>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
      <td mat-cell *matCellDef="let row">{{row.descripcion}} ({{row.unidad}})</td>
    </ng-container>
    <ng-container matColumnDef="unidad">
      <th mat-header-cell *matHeaderCellDef>U</th>
      <td mat-cell *matCellDef="let row">{{row.unidad}}</td>
    </ng-container>

    <ng-container matColumnDef="solicitado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Solicitado</th>
      <td mat-cell *matCellDef="let row , let i = index">
        <input type="number" [(ngModel)]="row.solicitado" [ngModelOptions]="{standalone: true}" (input)="actualizar(i)"
          [disabled]="readOnly">
        <!-- <input type="number" [(ngModel)]="row.solicitado" [ngModelOptions]="{standalone: true}" (input)="actualizar(i)"
          [disabled]="readOnly" *ngIf="!readOnly && !cerrada && row.depurado === 0 else solicitado;">
        <ng-template #solicitado>
          <span>{{row.solicitado}}</span>
        </ng-template> -->
      </td>
    </ng-container>

    <ng-container matColumnDef="recibido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Recibido</th>
      <td mat-cell *matCellDef="let row">{{row.recibido | number:'1.0-3'}}</td>
    </ng-container>
    <ng-container matColumnDef="depurado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Depurado</th>
      <td mat-cell *matCellDef="let row">{{row.depurado | number:'1.0-3'}}</td>
    </ng-container>

    <ng-container matColumnDef="porRecibir">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pendiente</th>
      <td mat-cell *matCellDef="let row">{{row.porRecibir | number:'1.0-3'}}</td>
    </ng-container>

    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
      <td mat-cell *matCellDef="let row, let i = index">
        <span *ngIf="especial; else normal">
          <input type="number" [(ngModel)]="row.precio" [ngModelOptions]="{standalone: true}" (input)="actualizar(i)"
            [disabled]="readOnly">
        </span>
        <ng-template #normal>
          {{row.precio | currency}}
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="descuento1">
      <th mat-header-cell *matHeaderCellDef>Desc 1</th>
      <td mat-cell *matCellDef="let row, let i = index">
        <span *ngIf="especial; else normal">
          <input type="number" [(ngModel)]="row.descuento1" [ngModelOptions]="{standalone: true}" (input)="actualizar(i)"
            [disabled]="readOnly">
        </span>
        <ng-template #normal>
          {{row.descuento1 | currency}}
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="descuento2">
      <th mat-header-cell *matHeaderCellDef>Desc 2</th>
      <td mat-cell *matCellDef="let row, let i = index">
        <span *ngIf="especial; else normal">
          <input type="number" [(ngModel)]="row.descuento2" [ngModelOptions]="{standalone: true}" (input)="actualizar(i)"
            [disabled]="readOnly">
        </span>
        <ng-template #normal>
          {{row.descuento2 | currency}}
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="descuento3">
      <th mat-header-cell *matHeaderCellDef>Desc 3</th>
      <td mat-cell *matCellDef="let row, let i = index">
        <span *ngIf="especial; else normal">
          <input type="number" [(ngModel)]="row.descuento3" [ngModelOptions]="{standalone: true}" (input)="actualizar(i)"
            [disabled]="readOnly">
        </span>
        <ng-template #normal>
          {{row.descuento3 | currency}}
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="descuento4">
      <th mat-header-cell *matHeaderCellDef>Desc 4</th>
      <td mat-cell *matCellDef="let row, let i = index">
        <span *ngIf="especial; else normal">
          <input type="number" [(ngModel)]="row.descuento4" [ngModelOptions]="{standalone: true}" (input)="actualizar(i)"
            [disabled]="readOnly">
        </span>
        <ng-template #normal>
          {{row.descuento4 | currency}}
        </ng-template>
      </td>
    </ng-container>



    <ng-container matColumnDef="importeNeto">
      <th mat-header-cell *matHeaderCellDef>Importe</th>
      <td mat-cell *matCellDef="let row">
        {{row.importeNeto | currency}}
      </td>
    </ng-container>

    <ng-container matColumnDef="operaciones">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row, let i = index">
        <mat-icon color="warn" class="cursor-pointer" *ngIf="canDelete(row)" (click)="delete.emit(i)">delete</mat-icon>
        <mat-icon class="cursor-pointer" *ngIf="!readOnly && row.porRecibir !== 0" (click)="depurar.emit(i)">layers_clear</mat-icon>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let cfdi; columns: displayColumns; "></tr>

  </table>
</div>