<mat-card *tdLoading="'procesando'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
  <div layout layout-align="start center" class="pad-left-sm pad-right-sm">
    <span class="push-left-sm">
      <span class="mat-title">Reporte general de alcances</span>
    </span>
    <span flex></span>
    <span class="pad-right">
      Periodo: {{ultimaEjecucion?.fechaInicial | date: 'dd/MM/yyyy'}} - {{ultimaEjecucion?.fechaFinal | date:
      'dd/MM/yyyy'}}
    </span>
    <span class="pad-right cursor-pointer" (click)="actualizarMeses()">Meses: {{ultimaEjecucion?.meses}}</span>
    <span flex></span>
    <span>
      <button mat-icon-button [matMenuTriggerFor]="toolbarMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #toolbarMenu="matMenu">
        <button (click)="load()" mat-menu-item>
          <mat-icon>refresh</mat-icon> Recargar
        </button>
        <button (click)="ejecutar()" mat-menu-item>
          <mat-icon>directions_run</mat-icon> Ejecutar
        </button>
        <button (click)="generarOrden()" mat-menu-item>
          <mat-icon>add_shopping_cart</mat-icon> Generar O.Compra
        </button>
        <button (click)="generarReporte()" mat-menu-item>
          <mat-icon>format_list_numbered</mat-icon> Reporte
        </button>
      </mat-menu>
    </span>
  </div>
  <div layout>
    <form [formGroup]="searchForm" class="pad-left" layout flex autocomplete="off">
      <mat-form-field class="filtro-field">
        <input matInput placeholder="Proveedor" formControlName="proveedor">
      </mat-form-field>
      <mat-form-field class="pad-left">
        <input matInput placeholder="Producto" formControlName="producto">
      </mat-form-field>
      <mat-form-field class="pad-left">
        <input matInput placeholder="Linea" formControlName="linea">
      </mat-form-field>
      <mat-form-field class="pad-left">
        <input matInput placeholder="Marca" formControlName="marca">
      </mat-form-field>
      <mat-form-field class="pad-left">
        <input matInput placeholder="Clase" formControlName="clase">
      </mat-form-field>
      <mat-form-field class="pad-left-sm">
        <input matInput placeholder="A. Menor" formControlName="alcanceMenor">
      </mat-form-field>
      <mat-form-field class="pad-left-sm">
        <input matInput placeholder="A. Mayor" formControlName="alcanceMayor">
      </mat-form-field>
      <mat-checkbox formControlName="deLinea">De Línea</mat-checkbox>

    </form>
    <span flex></span>
  </div>
  <mat-divider></mat-divider>
  <sx-alcances-table [rows]="filteredData" (select)="onSelect($event)"></sx-alcances-table>
</mat-card>