<form [formGroup]="form" novalidate (ngSumbit)="submit()">
  <h4 mat-dialog-title>Requisición de material</h4>
  <mat-dialog-content>
    <div layout>
      <sx-proveedor-field formControlName="proveedor" flex></sx-proveedor-field>
    </div>

    <div layout>
      <sx-sucursal-field [parent]="form" flex> </sx-sucursal-field>
      <mat-form-field flex class="pad-left">
        <input
          matInput
          [matDatepicker]="myDatepicker"
          formControlName="fecha"
          placeholder="Fecha"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="myDatepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div layout>
      <sx-moneda-field [parent]="form"></sx-moneda-field>
      <span flex></span>
      <mat-form-field class="pad-left">
        <input matInput placeholder="T.C" formControlName="tipoDeCambio" />
      </mat-form-field>
    </div>

    <div layout>
      <sx-upper-case-field
        formControlName="comentario"
        flex
      ></sx-upper-case-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="button" (click)="dialogRef.close()">
      Cancelar
    </button>
    <button mat-button (click)="submit()" [disabled]="form.invalid">
      <mat-icon>save</mat-icon> Salvar
    </button>
  </mat-dialog-actions>
</form>
