<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="emisorNombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Emisor</th>
    <td mat-cell *matCellDef="let cfdi" class="cursor-pointer">
      {{ cfdi.emisorNombre }}
    </td>
  </ng-container>
  <ng-container matColumnDef="serie">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Serie</th>
    <td mat-cell *matCellDef="let cfdi">{{ cfdi.serie }}</td>
  </ng-container>
  <ng-container matColumnDef="folio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Folio</th>
    <td mat-cell *matCellDef="let cfdi" class="cursor-pointer">
      {{ cfdi.folio }}
    </td>
  </ng-container>
  <ng-container matColumnDef="metodoDePago">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>MP</th>
    <td mat-cell *matCellDef="let cfdi" class="cursor-pointer">
      {{ cfdi.metodoDePago }}
    </td>
  </ng-container>
  <ng-container matColumnDef="usoCfdi">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Uso</th>
    <td mat-cell *matCellDef="let cfdi" class="cursor-pointer">
      {{ cfdi.usoCfdi }}
    </td>
  </ng-container>
  <ng-container matColumnDef="formaDePago">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>FP</th>
    <td mat-cell *matCellDef="let cfdi" class="cursor-pointer">
      {{ cfdi.formaDePago }}
    </td>
  </ng-container>
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
    <td mat-cell *matCellDef="let cfdi">
      {{ cfdi.fecha | date: 'dd/MM/yyyy' }}
    </td>
  </ng-container>
  <ng-container matColumnDef="moneda">
    <th mat-header-cell *matHeaderCellDef>Moneda</th>
    <td mat-cell *matCellDef="let cfdi">{{ cfdi.moneda }}</td>
  </ng-container>
  <ng-container matColumnDef="tipoDeCambio">
    <th mat-header-cell *matHeaderCellDef>TC</th>
    <td mat-cell *matCellDef="let cfdi">{{ cfdi.tipoDeCambio }}</td>
  </ng-container>
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
    <td mat-cell *matCellDef="let cfdi">{{ cfdi.total | currency }}</td>
  </ng-container>
  <ng-container matColumnDef="uuid">
    <th mat-header-cell *matHeaderCellDef>UUID</th>
    <td mat-cell *matCellDef="let cfdi" class="cursor-pointer">
      {{ cfdi.uuid.slice(-6) }}
    </td>
  </ng-container>
  <ng-container matColumnDef="tipoDeComprobante">
    <th mat-header-cell *matHeaderCellDef>Tipo</th>
    <td mat-cell *matCellDef="let cfdi">{{ cfdi.tipoDeComprobante }}</td>
  </ng-container>
  <ng-container matColumnDef="versionCfdi">
    <th mat-header-cell *matHeaderCellDef>Versión</th>
    <td mat-cell *matCellDef="let cfdi" class="cursor-pointer">
      {{ cfdi.versionCfdi }}
    </td>
  </ng-container>
  <ng-container matColumnDef="operaciones">
    <th mat-header-cell *matHeaderCellDef>
      <!-- <mat-icon>more_vert</mat-icon> -->
    </th>
    <td mat-cell *matCellDef="let cfdi">
      <span
        class="pad-right cursor-pointer"
        (click)="pdf.emit(cfdi)"
        *ngIf="cfdi.pdf"
        >PDF</span
      >
      <span class="cursor-pointer" (click)="xml.emit(cfdi)">XML</span>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr
    mat-row
    *matRowDef="let cfdi; columns: displayColumns"
    (click)="onSelect($event)"
    [ngClass]="{ active: cfdi.selected }"
  ></tr>
</table>
