<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
    <td mat-cell *matCellDef="let row" matTooltip="{{ row.id }}">
      {{ row.tipo }}
    </td>
  </ng-container>
  <ng-container matColumnDef="tipoCartera">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cartera</th>
    <td mat-cell *matCellDef="let row">
      {{ row.tipoCartera }}
    </td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
    <td mat-cell *matCellDef="let row">{{ row.fecha | date: 'dd/MM/yyyy' }}</td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
    <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
  </ng-container>

  <ng-container matColumnDef="serie">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Serie</th>
    <td mat-cell *matCellDef="let row">{{ row.serie }}</td>
  </ng-container>
  <ng-container matColumnDef="folio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Folio</th>
    <td mat-cell *matCellDef="let row">
      {{ row.folio }}
    </td>
  </ng-container>

  <ng-container matColumnDef="uuid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>CFDI</th>
    <td mat-cell *matCellDef="let row" matTooltip="{{ row.uuid }}">
      <span *ngIf="row.uuid; else uuidPendiente">{{
        row.uuid.substr(-12, 12)
      }}</span>
      <ng-template #uuidPendiente>
        <span class="tc-orange-700">
          <!-- {{ row.cobro ? 'PENDIENTE' : 'CANCELADA' }} -->
        </span>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="moneda">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>M</th>
    <td mat-cell *matCellDef="let row">{{ row.moneda }}</td>
  </ng-container>

  <ng-container matColumnDef="importe">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
    <td mat-cell *matCellDef="let row">{{ row.importe | currency }}</td>
  </ng-container>

  <ng-container matColumnDef="aplicado">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Aplicado</th>
    <td mat-cell *matCellDef="let row">{{ row.aplicado | currency }}</td>
  </ng-container>

  <ng-container matColumnDef="disponible">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Disponible</th>
    <td mat-cell *matCellDef="let row">
      {{ row?.cobro?.saldo | currency }}
    </td>
  </ng-container>

  <ng-container matColumnDef="comentario">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Comentario</th>
    <td mat-cell *matCellDef="let row" matTooltip="{{ row.comentario }}">
      {{ row.comentario }}
    </td>
  </ng-container>

  <ng-container matColumnDef="updateUser">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
    <td
      mat-cell
      *matCellDef="let row"
      matTooltip="{{ row.lastUpdated | date: 'dd/MM/yyyy : HH:mm:ss' }}"
    >
      {{ row.updateUser }}
    </td>
  </ng-container>

  <ng-container matColumnDef="lastUpdated">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Modificado</th>
    <td mat-cell *matCellDef="let row">
      {{ row.lastUpdated | date: 'dd/MM/yyyy : HH:mm' }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayColumns"
    class="cursor-pointer"
    (click)="doSelect($event, row)"
  ></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[20, 50, 100, 200]"
  showFirstLastButtons
></mat-paginator>
