<mat-card flex>
  <sx-standard-header
    title="Compras"
    [periodo]="periodo$ | async"
    (periodoChange)="onPeriodo($event)"
    (reload)="reload()"
    (download)="grid.exportData()"
  ></sx-standard-header>
  <mat-divider></mat-divider>
  <ng-template
    tdLoading
    [tdLoadingUntil]="!(loading$ | async)"
    tdLoadingStrategy="overlay"
  >
  </ng-template>
  <div class="grid-panel">
    <sx-compras-table
      #grid
      [partidas]="compras$ | async"
      (select)="onSelect($event)"
    ></sx-compras-table>
  </div>
</mat-card>
