table {
  width: 100%;
  overflow: auto;
}
.mat-cell {
  font-size: 11px;
}
.mat-row {
  height: 30px;
}

.mat-column-precio {
  width: 100px;
}
.mat-column-desc1, .mat-column-desc2 {
  width: 80px;
  padding: 0px;
}
table td input {
  width: 90%;
  height:100%;
}
