<td-layout-nav-list
  #navList
  [opened]="media.registerQuery('gt-sm') | async"
  [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
  [sidenavWidth]="
    (media.registerQuery('gt-xs') | async) ? sidenavWidth : '100%'
  "
>
  <div td-sidenav-toolbar-content layout="row" layout-align="start center">
    <button mat-icon-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <span [routerLink]="['/']" class="cursor-pointer">{{
      (app$ | async)?.name
    }}</span>
  </div>
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <button mat-icon-button tdLayoutNavListOpen [hideWhenOpened]="true">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span tdLayoutNavListToggle class="cursor-pointer">{{ title }}</span>
    <div flex>
      <div layout layout-align="center">
        <ng-content select=".toolbar"></ng-content>
      </div>
    </div>
    <sxi-main-toolbar flex></sxi-main-toolbar>
  </div>
  <mat-nav-list
    dense
    td-sidenav-content
    [tdLayoutNavListClose]="!media.query('gt-sm')"
  >
    <ng-template let-item let-last="last" ngFor [ngForOf]="navigation">
      <a mat-list-item [routerLink]="[item.route]" routerLinkActive="active">
        <mat-icon matListAvatar>{{ item.icon }}</mat-icon>
        <h3 matLine>{{ item.title }}</h3>
        <p matLine>{{ item.description }}</p>
      </a>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </ng-template>
    <mat-divider></mat-divider>

    <h3 matSubheader>Reportes</h3>

    <a mat-list-item>
      <mat-icon matListAvatar>picture_as_pdf</mat-icon>
      <h3 matLine>Reporte 1</h3>
      <p matLine>Reportes</p>
    </a>
    <mat-divider></mat-divider>
  </mat-nav-list>

  <router-outlet>
    <ng-content> </ng-content>
  </router-outlet>

  <!-- <td-layout-footer>
    <h4>Footer pendiente</h4>
  </td-layout-footer> -->
  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="mat-caption"
        >Copyright &copy; 2017 Teradata. All rights reserved</span
      >
    </div>
  </td-layout-footer>
</td-layout-nav-list>
