mat-card {
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
}

.grid-panel {
  height: 100%;
  flex-grow: 1;
  overflow: auto;
}

sx-proveedor-productos-table {
  // height: 500px;
  height: 100%;
  flex-grow: 1;
  overflow: auto;
}
