<div class="header">
  <div layout class="title">
    <div class=" ">
      <label>Nota </label>
      <span>{{ nota.tipo }}:</span>
      <span class="pad-left">{{ nota.folio }}</span>
    </div>

    <div class=" text-center" flex>
      <span class="text-center">{{ nota.nombre }}</span>
    </div>

    <div class="fecha">
      <label>Fecha:</label>
      <span>{{ nota.fecha | date: 'dd/MM/yyyy' }}</span>
    </div>

    <div *ngIf="nota.moneda !== 'MXN'">
      <span>{{ nota.moneda }}</span>
      <span class="pad-left">(T.C: {{ nota.tc }})</span>
    </div>
  </div>
  <div layout class="sub-header">
    <span>Usuario: {{ nota.updateUser }}</span>
    <span flex></span>
    <span>Modificado: {{ nota.lastUpdated | date: 'dd/MM/yyyy HH:mm' }}</span>
  </div>
</div>
