<div layout class="header">
  <div class="field">
    <label>Nota:</label>
    <span>{{ nota.folio }}</span>
  </div>
  <div class="field">
    <label for="tipo">Tipo:</label>
    <span>{{ nota.tipo }}</span>
  </div>

  <div class="field" flex>
    <label for="cliente">Cliente:</label>
    <span>{{ nota.nombre }}</span>
  </div>

  <div class="field">
    <label for="fecha">Fecha:</label>
    <span>{{ nota.fecha | date: 'dd/MM/yyyy' }}</span>
  </div>

  <div class="field">
    <label for="fecha">Moneda:</label>
    <span>{{ nota.moneda }}</span>
  </div>

  <div class="field">
    <label for="fecha">T.C:</label>
    <span>{{ nota.tc }}</span>
  </div>
</div>
