<div *ngIf="bonificacion$ | async as bonificacion" class="wrapper">
  <ng-template
    tdLoading
    [tdLoadingUntil]="!(loading$ | async)"
    tdLoadingStrategy="overlay"
  >
    <sx-bonificacion-form
      [bonificacion]="bonificacion"
      (save)="onSave($event)"
      (cancel)="onCancel()"
      #form
    >
      <sx-nota-delete
        [nota]="bonificacion"
        (delete)="onDelete($event)"
      ></sx-nota-delete>
      <sx-nota-cancel
        [nota]="bonificacion"
        (cancel)="onCancelBonificacion($event)"
      ></sx-nota-cancel>
      <sx-nota-cfdi-create
        [nota]="bonificacion"
        (generate)="generarCfdi(bonificacion)"
      ></sx-nota-cfdi-create>
      <sx-aplicar-nota
        (aplicar)="onAplicar(bonificacion)"
        [nota]="bonificacion"
      ></sx-aplicar-nota>
      <sx-print-cfdi [cfdi]="bonificacion.cfdi"></sx-print-cfdi>
      <sx-cfdi-xml [cfdi]="bonificacion.cfdi"></sx-cfdi-xml>
      <sx-email-cfdi
        [cfdi]="bonificacion.cfdi"
        [target]="bonificacion.cliente.email"
      ></sx-email-cfdi>
      <sx-nota-cfdi-cancel
        [nota]="bonificacion"
        (cancel)="onCancelCfdi($event)"
      ></sx-nota-cfdi-cancel>
      <sx-nota-cfdi-cambio
        [nota]="bonificacion"
        (cancel)="onCamiarCfdi($event)"
      ></sx-nota-cfdi-cambio>
    </sx-bonificacion-form>
  </ng-template>
</div>
