.mat-card {
  // width: calc(100% - 12px);
  // height: calc(100% - 12px);
  display: flex;
  flex-direction: column;
}
.mat-card-header {
  flex-shrink: 0;
}
.mat-card-content {
  flex-grow: 1;
  overflow: auto;
}
