<div *ngIf="bonificacion$ | async as bonificacion" class="wrapper">
  <ng-template
    tdLoading
    [tdLoadingUntil]="!(loading$ | async)"
    tdLoadingStrategy="overlay"
  >
    <sx-bonificacion-form
      [bonificacion]="bonificacion"
      (save)="onSave($event)"
      #form
    >
      <sx-nota-delete
        [nota]="bonificacion"
        (delete)="onDelete($event)"
      ></sx-nota-delete>
      <sx-nota-cfdi-create
        [nota]="bonificacion"
        (generate)="generarCfdi(bonificacion)"
      ></sx-nota-cfdi-create>
      <ng-container *ngIf="!bonificacion.cfdi"> </ng-container>
      <ng-container *ngIf="bonificacion.cfdi">
        <button mat-button><mat-icon>print</mat-icon> IMPRIMIR</button>
        <button mat-button><mat-icon>email</mat-icon> E-MAIL</button>
      </ng-container>
    </sx-bonificacion-form>
  </ng-template>
</div>
