<div class="table-container" class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="proveedor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prov</th>
      <td mat-cell *matCellDef="let prod">{{prod.proveedor.clave}}</td>
    </ng-container>

    <ng-container matColumnDef="clave">
      <th mat-header-cell *matHeaderCellDef>Producto</th>
      <td mat-cell *matCellDef="let prod">{{prod.clave}}</td>
    </ng-container>

    <ng-container matColumnDef="claveProveedor">
      <th mat-header-cell *matHeaderCellDef>Desc Proveedor</th>
      <td mat-cell *matCellDef="let prod">
        ({{prod.claveProveedor}}) - {{prod.descripcionProveedor}}
      </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let prod">
        <span>
          {{prod.descripcion}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="unidad">
      <th mat-header-cell *matHeaderCellDef>U</th>
      <td mat-cell *matCellDef="let prod">{{prod.unidad}}</td>
    </ng-container>

    <ng-container matColumnDef="moneda">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>MOM</th>
      <td mat-cell *matCellDef="let prod">{{prod.moneda}}</td>
    </ng-container>

    <ng-container matColumnDef="precioBruto">
      <th mat-header-cell *matHeaderCellDef>P.Bruto</th>
      <td mat-cell *matCellDef="let prod">{{prod.precioBruto}}</td>
    </ng-container>

    <ng-container matColumnDef="desc1">
      <th mat-header-cell *matHeaderCellDef>Desc 1</th>
      <td mat-cell *matCellDef="let prod">{{prod.desc1}}</td>
    </ng-container>

    <ng-container matColumnDef="desc2">
      <th mat-header-cell *matHeaderCellDef>Desc 2</th>
      <td mat-cell *matCellDef="let prod">{{prod.desc2}}</td>
    </ng-container>

    <ng-container matColumnDef="desc3">
      <th mat-header-cell *matHeaderCellDef>Desc 3</th>
      <td mat-cell *matCellDef="let prod">{{prod.desc3}}</td>
    </ng-container>

    <ng-container matColumnDef="desc4">
      <th mat-header-cell *matHeaderCellDef>Desc 4</th>
      <td mat-cell *matCellDef="let prod">{{prod.desc4}}</td>
    </ng-container>

    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef>Precio</th>
      <td mat-cell *matCellDef="let prod">{{prod.precio}}</td>
    </ng-container>

    <ng-container matColumnDef="operaciones">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row, let i = index">
        <mat-icon class="cursor-pointer" (click)="editProducto($event, row)">edit</mat-icon>
        <mat-icon color="warn" class="cursor-pointer" (click)="deleteProducto($event, i, row)">delete</mat-icon>
      </td>
    </ng-container>

    <!-- <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let prod; columns: columnsToDisplay" (click)="select.emit(prod)"></tr> -->

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let prod; columns: columnsToDisplay" class="cursor-pointer" (click)="toogleSelect(prod)" [ngClass]="{'active': prod.selected}"></tr>

  </table>
</div>
<mat-paginator [pageSizeOptions]="[20, 50, 100, 200]" showFirstLastButtons></mat-paginator>
