<form [formGroup]="form" layout="column">
  <div layout>
    <mat-form-field flex>
      <input
        matInput
        placeholder="Límite "
        formControlName="limiteDeCredito"
        type="number"
      />
    </mat-form-field>
    <mat-form-field class="pad-left">
      <input
        matInput
        placeholder="Plazo"
        formControlName="plazo"
        type="number"
      />
    </mat-form-field>
  </div>
  <div layout>
    <mat-form-field flex>
      <input
        matInput
        placeholder="Dscto financiero "
        formControlName="descuentoF"
        type="number"
      />
    </mat-form-field>
    <mat-form-field class="pad-left">
      <input
        matInput
        placeholder="Plazo (D.F)"
        formControlName="diasDF"
        type="number"
      />
    </mat-form-field>
  </div>
  <div layout>
    <mat-checkbox formControlName="fechaRevision" flex
      >Fecha revisión</mat-checkbox
    >
    <mat-checkbox formControlName="imprimirCosto" flex
      >Imprimir Costo</mat-checkbox
    >
  </div>
</form>
