
mat-card {
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  .subtitle {
    margin-top: -20px;
    margin-bottom: 5px;
    cursor: pointer;
  }

}
.grid-panel {
  height: 100%;
  flex-grow: 1;
  overflow: auto;
}

