table {
  width: 100%;
  height: 450px;
  overflow: auto;
}
// .mat-table {
//   overflow: auto;
//   min-height: 400px;
//   max-height: 550px;
// }

.mat-column-tipoDeComprobante{
  max-width: 20px;
}
.mat-cell {
  font-size: 11px;
}
.mat-row {
  //cursor: pointer;
  height: 30px;
  position: relative; // For matRipple
  &:hover {
    background: rgba(105, 71, 7, 0.09);
  }
}
