<mat-card>
  <sx-standard-header
    title="Analisis de transformaciones (TRS)"
    [periodo]="periodo"
    (periodoChange)="onPeriodo($event)"
    (reload)="reload()"
    (create)="onCreate()"
    (download)="grid.exportData()"
  >
    <button mat-menu-item (click)="onConsolidar(periodo)" class="actions">
      Consolidar costos
    </button>
  </sx-standard-header>
  <mat-divider></mat-divider>
  <ng-template
    tdLoading
    [tdLoadingUntil]="!(loading$ | async)"
    tdLoadingStrategy="overlay"
  >
  </ng-template>
  <div class="grid-panel">
    <sx-analisis-trs-table
      #grid
      [partidas]="analisis$ | async"
      (select)="onSelect($event)"
    ></sx-analisis-trs-table>
  </div>
  <!-- <sx-standard-footer [totales]="totales$ | async"> </sx-standard-footer> -->
</mat-card>
