<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="sucursalNombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sucursal</th>
    <td mat-cell *matCellDef="let compra">{{compra.sucursalNombre}}</td>
  </ng-container>

  <ng-container matColumnDef="proveedor">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
    <td mat-cell *matCellDef="let compra">{{compra.nombre}}</td>
  </ng-container>
  <ng-container matColumnDef="folio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Folio</th>
    <td mat-cell *matCellDef="let compra">{{compra.folio}}</td>
  </ng-container>
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
    <td mat-cell *matCellDef="let compra">{{compra.fecha | date: 'dd/MM/yyyy'}}</td>
  </ng-container>
  <ng-container matColumnDef="moneda">
    <th mat-header-cell *matHeaderCellDef>Moneda</th>
    <td mat-cell *matCellDef="let compra">{{compra.moneda}}</td>
  </ng-container>
  <ng-container matColumnDef="tipoDeCambio">
    <th mat-header-cell *matHeaderCellDef>TC</th>
    <td mat-cell *matCellDef="let compra">{{compra.tipoDeCambio}}</td>
  </ng-container>
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
    <td mat-cell *matCellDef="let compra">{{compra.total | currency:'USD'}}</td>
  </ng-container>
  <ng-container matColumnDef="comentario">
    <th mat-header-cell *matHeaderCellDef>Comentario</th>
    <td mat-cell *matCellDef="let compra">{{compra.comentario}}</td>
  </ng-container>

  <ng-container matColumnDef="createUser">
    <th mat-header-cell *matHeaderCellDef>Creada</th>
    <td mat-cell *matCellDef="let compra">{{compra.createUser}}</td>
  </ng-container>

  <ng-container matColumnDef="updateUser">
    <th mat-header-cell *matHeaderCellDef>Modificada</th>
    <td mat-cell *matCellDef="let compra">{{compra.updateUser}}</td>
  </ng-container>

  <ng-container matColumnDef="modificada">
    <th mat-header-cell *matHeaderCellDef>U. Modificación</th>
    <td mat-cell *matCellDef="let compra">{{compra.modificada | date: 'dd/MM/yyyy: HH:mm'}}</td>
  </ng-container>

  <ng-container matColumnDef="pendiente">
    <th mat-header-cell *matHeaderCellDef>E</th>
    <td mat-cell *matCellDef="let compra">{{compra.status}}</td>
  </ng-container>

  <ng-container matColumnDef="operaciones">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let req">
      <!-- <mat-icon (click)="edit.emit(req)" class="cursor-pointer pad-right">edit</mat-icon> -->
      <mat-icon (click)="onEdit($event, req)" class="pad-right">edit</mat-icon>
      <sx-report-button url="compras/print" [smallIcon]="true"></sx-report-button>
      <!-- <sx-print-requisicion [requisicion]="req" smallIcon="true"></sx-print-requisicion> -->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let compra; columns: displayColumns" class="cursor-pointer" (click)="toogleSelect(compra)" [ngClass]="{'active': compra.selected}"></tr>
</table>
<mat-paginator [pageSizeOptions]="[20, 50, 100, 200]" showFirstLastButtons></mat-paginator>
