<mat-card>
  <div layout layout-align="start center" class="pad">
    <span>
      <span class="mat-title title">Cuentas por Pagar</span>
    </span>
    <span flex></span>
    <span>
      <button mat-icon-button [matMenuTriggerFor]="toolbarMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #toolbarMenu="matMenu">
        <button mat-menu-item (click)="reload()">
          <mat-icon>sync</mat-icon> Recargar
        </button>
        <button
          (click)="grid.exportData('CARTERA')"
          mat-menu-item
          matTooltip="Descargar registros en formato CSV"
        >
          <mat-icon color="primary">file_download</mat-icon> Descargar
        </button>
        <button
          mat-menu-item
          (click)="ajustarDiferencia(selected)"
          [disabled]="selected.length === 0"
          color="warn"
        >
          <mat-icon>input</mat-icon> Ajustar diferencia
        </button>
        <button
          mat-menu-item
          (click)="grid.clearSelection()"
          [disabled]="selected.length === 0"
          color="primary"
        >
          <mat-icon>clear_all</mat-icon> Limpiar selección
        </button>
      </mat-menu>
    </span>
  </div>
  <mat-divider></mat-divider>
  <ng-template
    tdLoading
    [tdLoadingUntil]="!(loading$ | async)"
    tdLoadingStrategy="overlay"
  >
  </ng-template>
  <div class="grid-panel">
    <sx-cartera-table
      #grid
      [partidas]="facturas$ | async"
      (selectionChange)="onSelection($event)"
    ></sx-cartera-table>
  </div>
</mat-card>
