<mat-card flex *ngIf="requisicion$ | async as requisicion">
  <div layout layout-align="start center" class="pad">
    <span class="push-left-sm">
      <span class="mat-title">{{ requisicion.proveedor }}</span>
    </span>
    <span flex></span>
    <span class="mat-title">
      <span>Requisición: </span>
      <span class="pad-left">{{ requisicion.sucursal }}</span>
      <span class="pad-left">{{ requisicion.folio }}</span>
      <span class="pad-left"
        >({{ requisicion.fecha | date: 'dd/MM/yyyy' }})</span
      >
    </span>
  </div>
  <div layout class="pad-left pad-right subtitle">
    <span class="push-left-sm">
      <span class="mat-subtitle comentario-action">{{
        requisicion.comentario
      }}</span>
    </span>
    <span flex></span>
    <span>
      <span>Usuario:</span>
      <span class="pad-left">{{ requisicion.createUser }}</span>
      <span class="pad-left">Modificado:</span>
      <span class="pad-left">{{
        requisicion.lastUpdated | date: 'dd/MM/yyyy dd:HH'
      }}</span>
    </span>
    <!-- <a mat-button class="comentario-action">{{ requisicion.comentario }}</a> -->
  </div>
  <mat-divider></mat-divider>
  <ng-template
    tdLoading
    [tdLoadingUntil]="!(loading$ | async)"
    tdLoadingStrategy="overlay"
  >
  </ng-template>
  <div class="grid-panel">
    <sx-requisicion-partidas
      #grid
      [partidas]="partidas"
      (select)="onSelect($event)"
      (edit)="dirty$.next(true)"
      [(selectedRows)]="selectedPartidas"
    >
    </sx-requisicion-partidas>
  </div>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button (click)="back()">
      <mat-icon>arrow_back</mat-icon> REQUISICIONES
    </button>
    <button mat-button (click)="agregarPartidas()">
      <mat-icon>playlist_add</mat-icon> PARTIDAS
    </button>
    <button mat-button [disabled]="!(dirty$ | async)" (click)="onSave()">
      <mat-icon>save</mat-icon> SALVAR
    </button>
    <button
      mat-button
      (click)="grid.deleteSelection()"
      color="warn"
      [disabled]="selectedPartidas.length === 0"
    >
      <mat-icon>delete</mat-icon> ELIMINAR PARTIDAS
    </button>
  </mat-card-actions>
</mat-card>
