<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
    <td
      mat-cell
      *matCellDef="let factura"
      (click)="toogleSelect(factura)"
      [ngClass]="{ 'tc-pink-600': !factura.analizada }"
    >
      {{ factura.nombre }}
    </td>
    <td mat-footer-cell *matFooterCellDef>Totales</td>
  </ng-container>
  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
    <td mat-cell *matCellDef="let factura">{{ factura.tipo.substr(0, 3) }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="serie">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Serie</th>
    <td mat-cell *matCellDef="let factura">{{ factura.serie }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="folio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Folio</th>
    <td mat-cell *matCellDef="let factura" (click)="toogleSelect(factura)">
      {{ factura.folio }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="metodoDePago">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>MP</th>
    <td mat-cell *matCellDef="let factura">
      {{ factura.comprobanteFiscal.metodoDePago }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="usoCfdi">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Uso</th>
    <td mat-cell *matCellDef="let factura">
      {{ factura.comprobanteFiscal.usoCfdi }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="formaDePago">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>FP</th>
    <td mat-cell *matCellDef="let factura">{{ factura.formaDePago }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
    <td mat-cell *matCellDef="let factura">
      {{ factura.fecha | date: 'dd/MM/yyyy' }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="moneda">
    <th mat-header-cell *matHeaderCellDef>Mon</th>
    <td mat-cell *matCellDef="let factura">{{ factura.moneda }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="tipoDeCambio">
    <th mat-header-cell *matHeaderCellDef>TC</th>
    <td mat-cell *matCellDef="let factura">{{ factura.tipoDeCambio }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="tcContable">
    <th mat-header-cell *matHeaderCellDef>TC (Cont)</th>
    <td mat-cell *matCellDef="let factura">{{ factura.tcContable }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
    <td mat-cell *matCellDef="let factura">
      {{ factura.total | currency: 'USD' }}
    </td>
    <td mat-footer-cell *matFooterCellDef>
      {{ getTotal('total') | currency }}
    </td>
  </ng-container>
  <ng-container matColumnDef="importePorPagar">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>A Pagar</th>
    <td mat-cell *matCellDef="let factura">
      {{ factura.importePorPagar | currency: 'USD' }}
    </td>
    <td mat-footer-cell *matFooterCellDef>
      {{ getTotal('importePorPagar') | currency }}
    </td>
  </ng-container>
  <ng-container matColumnDef="saldo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Saldo</th>
    <td mat-cell *matCellDef="let factura">
      {{ factura.saldo | currency: 'USD' }}
    </td>
    <td mat-footer-cell *matFooterCellDef>
      {{ getTotal('saldo') | currency }}
    </td>
  </ng-container>
  <ng-container matColumnDef="uuid">
    <th mat-header-cell *matHeaderCellDef>UIID</th>
    <td
      mat-cell
      *matCellDef="let row"
      [ngClass]="{ suspendido: !row.analizada }"
    >
      {{ row.uuid.substr(-12, 12) }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="tipoDeComprobante">
    <th mat-header-cell *matHeaderCellDef>T</th>
    <td mat-cell *matCellDef="let factura">
      {{ factura.comprobanteFiscal.tipoDeComprobante }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="versionCfdi">
    <th mat-header-cell *matHeaderCellDef>Ver</th>
    <td mat-cell *matCellDef="let factura">
      {{ factura.comprobanteFiscal.versionCfdi }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="operaciones">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let factura">
      <mat-icon
        (click)="onEdit($event, factura)"
        class="cursor-pointer pad-right"
        >edit</mat-icon
      >
      <span class="pad-right cursor-pointer" (click)="pdf.emit(factura)"
        >PDF</span
      >
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let factura; columns: displayColumns"></tr>
  <tr mat-footer-row *matFooterRowDef="displayColumns"></tr>
</table>
