<mat-card>
  <ng-template
    tdLoading
    [tdLoadingUntil]="!(loading$ | async)"
    tdLoadingStrategy="overlay"
  >
    <sx-search-title
      title="Notas de cargo  ({{ cartera.descripcion }})"
      (search)="search = $event"
    >
      <sx-periodo-picker
        [periodo]="periodo"
        class="options"
        (change)="onPeriodo($event)"
      ></sx-periodo-picker>

      <button mat-menu-item class="actions" (click)="reload()">
        <mat-icon>refresh</mat-icon> Recargar
      </button>
      <button
        mat-menu-item
        color="primary"
        (click)="generarNotasPorIntereses()"
        class="actions"
      >
        <span>Notas por intereses</span>
      </button>
    </sx-search-title>
    <mat-divider></mat-divider>

    <sx-notas-de-cargo-table
      [notas]="notas$ | async"
      (edit)="onSelect($event)"
    ></sx-notas-de-cargo-table>
  </ng-template>
</mat-card>
