<mat-card>
  <ng-template
    tdLoading
    [tdLoadingUntil]="!(loading$ | async)"
    tdLoadingStrategy="overlay"
  >
    <sx-search-title title="Bonificaciones" (search)="search = $event">
      <button mat-menu-item class="actions">
        <mat-icon>refresh</mat-icon> Recargar
      </button>
    </sx-search-title>
    <div>
      <sx-notas-table
        [notas]="bonificaciones$ | async"
        (select)="onSelect($event)"
      ></sx-notas-table>
    </div>
    <mat-divider></mat-divider>
  </ng-template>
</mat-card>
