<mat-card>
  <sx-standard-header
    title="Pagos"
    [periodo]="periodo$ | async"
    (periodoChange)="onPeriodo($event)"
    (reload)="reload()"
    (download)="grid.exportData()"
  ></sx-standard-header>
  <mat-divider></mat-divider>
  <ng-template
    tdLoading
    [tdLoadingUntil]="!(loading$ | async)"
    tdLoadingStrategy="overlay"
  >
  </ng-template>
  <div class="grid-panel">
    <sx-pagos-table
      #grid
      [partidas]="pagos$ | async"
      (xml)="onXml($event)"
      (pdf)="onPdf($event)"
      (select)="onSelect($event)"
    ></sx-pagos-table>
  </div>
  <sx-standard-footer [totales]="totales">
    <!-- <span class="pad-left">Total: {{ totales.importe | currency }}</span> -->
  </sx-standard-footer>
</mat-card>
