<mat-card *ngIf="factura$ | async as factura">
  <div class="pad mat-title" layout>
    Factura: {{ factura.serie }}-
    {{ factura.folio }}
    <span class="pad-left">
      {{ factura.nombre }}
    </span>
    <span flex></span>
    <span>Sub Total: {{ factura.subTotal | currency }}</span>
  </div>
  <div class="sub-title">
    <div class="user-data">
      <span>Actualizado: </span>
      <span>{{ factura.lastUpdated | date: 'dd/MM/yyyy: HH:mm' }}</span>
      <span>Usuario:</span>
      <span>{{ factura.updateUser }}</span>
    </div>
    <div class="gasto-data">
      <span>Analizada: </span>
      <span>{{ factura.gastoAnalizadoFecha | date: 'dd/MM/yyyy' }}</span>
      <span>Gasto : </span>
      <span>{{ factura.gastoAnalizado | currency }}</span>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="pad-left pad-right">
    <mat-tab-group [selectedIndex]="1">
      <mat-tab label="Cuenta por Pagar">
        <sx-cxp-form2 [cxp]="factura"></sx-cxp-form2>
        <div class="conceptos">
          <sx-cfdi-conceptos-table2
            [partidas]="factura.comprobanteFiscal.conceptos"
          >
          </sx-cfdi-conceptos-table2>
        </div>
      </mat-tab>

      <mat-tab label="Conceptos de Gasto">
        <mat-toolbar layout layout-align="center center">
          <span>Detalle contables del gasto</span>
          <span flex></span>
          <button
            mat-button
            mat-icon-button
            matTooltip="Agregar conceptos"
            (click)="agregarConceptos(factura, conceptos)"
            *ngIf="cfdiConceptos$ | async as conceptos"
          >
            <mat-icon>playlist_add</mat-icon>
          </button>
          <button
            mat-button
            mat-icon-button
            matTooltip="Quitar conceptos"
            (click)="quitarConceptos(selected)"
            *ngIf="cfdiConceptos$ | async as conceptos"
            [disabled]="selected.length === 0"
          >
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
          <button
            mat-button
            mat-icon-button
            matTooltip="Prorratear concepto"
            (click)="onProrratear(selected)"
            *ngIf="cfdiConceptos$ | async as conceptos"
            [disabled]="selected.length === 0"
          >
            <mat-icon>call_split</mat-icon>
          </button>

          <button
            mat-button
            mat-icon-button
            matTooltip="Editar"
            (click)="bulEdit(factura, selected)"
            [disabled]="selected.length === 0"
          >
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button [matMenuTriggerFor]="toolbarMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #toolbarMenu="matMenu">
            <mat-checkbox
              [checked]="true"
              (change)="grid.toogleCuentaDesc(desc.checked)"
              #desc
              class="mat-menu-item"
              >Cta Descripción</mat-checkbox
            >
            <button
              mat-menu-item
              *ngIf="gastos$ | async as gastos"
              (click)="registrarRevision(factura, gastos)"
              [disabled]="gastos.length === 0"
            >
              <mat-icon>offline_pin</mat-icon> Revisión
            </button>

            <button
              mat-menu-item
              *ngIf="gastos$ | async as gastos"
              (click)="registrarActivoFijo(factura, gastos)"
              [disabled]="gastos.length === 0"
            >
              Activo Fijo
            </button>
            <button
              mat-menu-item
              *ngIf="gastos$ | async as gastos"
              (click)="cancelarActivo(factura, gastos)"
              [disabled]="gastos.length === 0"
            >
              Cancelar Activo
            </button>
          </mat-menu>
        </mat-toolbar>

        <ng-template
          tdLoading
          [tdLoadingUntil]="!(loading$ | async)"
          tdLoadingStrategy="overlay"
        >
        </ng-template>
        <div class="gastos">
          <sx-cxp-gastosdet-table
            #grid
            [partidas]="gastos$ | async"
            (selectionChange)="onSelectionChange($event)"
            (select)="editGastoDet(factura, $event)"
            (edit)="onTableEdit($event)"
          ></sx-cxp-gastosdet-table>
        </div>
      </mat-tab>
      <mat-tab label="CFDI">
        <div class="cfdiHeader">
          UUID: {{ factura.uuid }}
          <span class="pad-left"
            >Total: {{ factura.comprobanteFiscal.total | currency }}</span
          >
          <span class="pad-left"
            >Descuento:
            {{ factura.comprobanteFiscal.descuento | currency }}</span
          >
          <span class="pad-left"
            >Uso de Cfdi: {{ factura.comprobanteFiscal.usoCfdi }}</span
          >
        </div>
        <div class="cfdiXml">
          {{ factura.comprobanteFiscal.xml }}
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>
