<mat-card>
  <mat-card-title-group>
    <mat-card-title>Catálogo de líneas</mat-card-title>
  </mat-card-title-group>
  <mat-card-content class="mat-elevation-z6 lineas-container">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="linea">
        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let linea">{{linea.linea}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
