<td-layout-nav>

  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <span [routerLink]="['/']" class="cursor-pointer">SX-Compras</span>
    <span flex></span>
    <span>Proveedores</span>
    <span flex></span>
    <sx-logout-button></sx-logout-button>
  </div>


  <router-outlet></router-outlet>

  <td-layout-footer>
    <sx-footer></sx-footer>
  </td-layout-footer>
</td-layout-nav>
