<div class="table-container">
  <mat-table [dataSource]="partidas" #table>
    <ng-container matColumnDef="clave">
      <mat-header-cell *matHeaderCellDef> Clave </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.producto.clave}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.producto.descripcion}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="solicitado">
      <mat-header-cell *matHeaderCellDef> Solicitado </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.solicitado}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="precio">
      <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.precio | currency:'USD':1.2-2}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="comentario">
      <mat-header-cell *matHeaderCellDef> Comentario </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.comentario}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> ... </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button type="button">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button type="button">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;let i = index; " (click)="selectRow(i)">
    </mat-row>
  </mat-table>
</div>
