<mat-card *ngIf="pago">
  <form [formGroup]="form">
    <div layout layout-align="start center" class="mat-title pad-left pad-top">
      <span>Pago: {{pago.folio}}</span>
      <span class="pad-left pad-right"> {{pago.nombre}}</span>
      <span class="pad-left">({{pago.fecha | date: 'dd/MM/yyyy'}})</span>
      <span flex></span>
      <span>Aplicado:</span>
      <span class="pad-left pad-right tc-blue-600">{{pago.aplicado | currency}}</span>
      <span>Disponible:</span>
      <span class="pad-left pad-right tc-pink-600">{{pago.disponible | currency}} ({{pago.moneda}})</span>
    </div>
    <mat-divider></mat-divider>
    <div layout class="pad-left pad-right">
      <mat-form-field>
        <input matInput [value]="pago.formaDePago" [disabled]="true" placeholder="Forma de pago">
      </mat-form-field>
      <sx-upper-case-field formControlName="comentario" placeholder="Comentario" flex>
      </sx-upper-case-field>
      <mat-form-field class="pad-left">
        <input matInput placeholder="Filtrar " (input)="onFilter(filtro.value)" #filtro autocomplete="off">
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <sx-aplicaciones-table [aplicaciones]="pago.aplicaciones" [filtro]="filtro$ | async"></sx-aplicaciones-table>

    <mat-divider></mat-divider>
    <mat-card-actions>
      <button type="button" mat-button [routerLink]="['../']">
        <mat-icon>arrow_back</mat-icon> Pagos
      </button>
      <button type="button" mat-button (click)="aplicar.emit(pago)" color="accent" [disabled]="pago.disponible <= 0">
        <mat-icon>check_circle</mat-icon> Aplicar
      </button>

      <button type="button" mat-button color="primary" (click)="onSave()" [disabled]="form.invalid || form.pristine">
        <mat-icon>save</mat-icon> Salvar
      </button>
      <!-- <sx-selector-cxp [disabled]="pago.disponible <= 0" label="Seleccionar factura"></sx-selector-cxp> -->
      <a [routerLink]="['/cxp/requisiciones', pago?.requisicion?.id]" mat-button class="pad-right">Requisición {{pago?.requisicion?.folio}}</a>
      <ng-content></ng-content>
    </mat-card-actions>
  </form>
</mat-card>
