
.form-row {
  display: flex;
  justify-content: space-between;
  mat-form-field {
    padding: 0 5px;
    width: 130px;
  }
}
.form-row-3 {
  display: flex;
  justify-content: flex-start;
  align-content: space-around;
  mat-form-field {
    padding: 0 5px;
    width: 130px;
  }
}
/*
.importes-row {
  width: 120px;
}

mat-form-field {
  padding: 0 5px;
}
*/
