<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef>Tipo</th>
    <td mat-cell *matCellDef="let row">{{ row.tipo }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="concepto">
    <th mat-header-cell *matHeaderCellDef>Concepto</th>
    <td mat-cell *matCellDef="let row">{{ row.concepto }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="comentario">
    <th mat-header-cell *matHeaderCellDef>Comentario</th>
    <td mat-cell *matCellDef="let row">{{ row.comentario }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
    <td mat-cell *matCellDef="let row">{{ row.fecha | date: 'dd/MM/yyyy' }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="importe">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
    <td mat-cell *matCellDef="let req">{{ req.importe | currency }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="saldo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Saldo</th>
    <td mat-cell *matCellDef="let req">{{ req.saldo | currency }}</td>
    <td mat-footer-cell *matFooterCellDef>
      {{ getSaldo() | currency }}
    </td>
  </ng-container>

  <ng-container matColumnDef="dateCreated">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Creado</th>
    <td mat-cell *matCellDef="let row">
      {{ row.dateCreated | date: 'dd/MM/yyyy: mm:ss' }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="updateUser">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Usaurio</th>
    <td mat-cell *matCellDef="let row">
      {{ row.updateUser }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="tasaDeInteres">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Interes (%)</th>
    <td mat-cell *matCellDef="let row">
      {{ row.tasaDeInteres / 100 | percent: '1.1-2' }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="nota">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>N.C.</th>
    <td mat-cell *matCellDef="let row">
      <a [routerLink]="['/cobranza/notas-de-cargo', row.origen]">
        {{ row.nota }}
      </a>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr
    mat-row
    *matRowDef="let req; columns: displayColumns"
    class="cursor-pointer2 pasive"
    (click)="toogleSelect(req)"
  ></tr>
  <tr mat-footer-row *matFooterRowDef="displayColumns"></tr>
</table>

<!--
<mat-paginator
  [pageSizeOptions]="[50, 100, 500, 1000]"
  showFirstLastButtons
></mat-paginator> -->
