<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
    <td mat-cell *matCellDef="let row" matTooltip="{{row.id}}">{{row.tipo}}</td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
    <td mat-cell *matCellDef="let row">{{row.fecha | date: 'dd/MM/yyyy'}}</td>
  </ng-container>
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
    <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
  </ng-container>

  <ng-container matColumnDef="comentario">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Comentario</th>
    <td mat-cell *matCellDef="let row" matTooltip="{{row.comentario}}">
      {{row.comentario}}
    </td>
  </ng-container>

  <ng-container matColumnDef="formaDePago">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>F. Pago</th>
    <td mat-cell *matCellDef="let row" matTooltip="{{row.tarjeta | json}} {{row.cheque | json }}">
      {{getForma(row)}}

    </td>
  </ng-container>
  <ng-container matColumnDef="moneda">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>M</th>
    <td mat-cell *matCellDef="let row">{{row.moneda}}</td>
  </ng-container>

  <ng-container matColumnDef="importe">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
    <td mat-cell *matCellDef="let row">{{row.importe | currency}}</td>
  </ng-container>

  <ng-container matColumnDef="disponible">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Disponible</th>
    <td mat-cell *matCellDef="let row">{{row.saldo | currency}}</td>
  </ng-container>

  <ng-container matColumnDef="referencia">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Referencia</th>
    <td mat-cell *matCellDef="let row">{{row.referencia}}</td>
  </ng-container>

  <ng-container matColumnDef="updateUser">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
    <td mat-cell *matCellDef="let row" matTooltip="{{row.lastUpdated | date: 'dd/MM/yyyy : HH:mm:ss'}}">{{row.updateUser}}</td>
  </ng-container>

  <ng-container matColumnDef="lastUpdated">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
    <td mat-cell *matCellDef="let row">{{row.lastUpdated | date: 'dd/MM/yyyy : HH:mm'}}</td>
  </ng-container>

  <ng-container matColumnDef="operaciones">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>...</th>
    <td mat-cell *matCellDef="let row">
      <mat-icon color="warn" *ngIf="row.aplicado <= 0" (click)="doDelete($event, row)">delete</mat-icon>
      <mat-icon color="primary" *ngIf="row.formaDePago === 'CHEQUE'" (click)="doChequeDevuelto($event, row)" matTooltip="Mandar a cheques devueltos">
        assignment_return
      </mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns" class="cursor-pointer" (click)="edit.emit(row)"></tr>

</table>

<mat-paginator [pageSizeOptions]="[20, 50, 100, 200]" showFirstLastButtons></mat-paginator>
