.table-container {
  min-height: 600px
}

table {
  width: 100%;
}

.mat-column-tipoDeComprobante{
  max-width: 20px;
}
.mat-cell {
  font-size: 11px;
}
.mat-row {
  cursor: pointer;
  height: 30px;

}



