
.ordenes-table {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.mat-table {
  overflow: auto;
  min-height: 250px;
  max-height: 70vh;
}
.mat-row {
  cursor: pointer;
  min-height: 30px;
  position: relative; // For matRipple

  &:hover {
    background: #ccc4c4;
  }
  &:active {
    background: #f5f5f5;
  }
}
.mat-column-folio{
  max-width: 70px;
}
.mat-column-fecha {
  max-width: 110px;
}
.mat-column-comentario {
  font-size: 10px;
}
