<mat-card flex>
  <mat-divider></mat-divider>
  <ng-template
    tdLoading
    [tdLoadingUntil]="!(loading$ | async)"
    tdLoadingStrategy="overlay"
  >
    <sx-standard-header
      title="Facturas de Gastos (Cuentas por pagar)"
      [periodo]="periodo$ | async"
      (periodoChange)="onPeriodo($event)"
      (reload)="reload()"
      (download)="grid.exportData()"
    ></sx-standard-header>
  </ng-template>
  <div class="grid-panel">
    <sx-facturas-table2
      #grid
      [facturas]="facturas$ | async"
      (select)="onSelect($event)"
    ></sx-facturas-table2>
  </div>
</mat-card>

<!--
<mat-card>
  <sx-search-title title="Facturas de compras (Cuentas por pagar)" (search)="onSearch($event)">
    <sx-facturas-filter-btn class="options" [filter]="filter$ | async" (change)="onFilter($event)"></sx-facturas-filter-btn>
    <button mat-menu-item class="actions" (click)="reload()"><mat-icon>refresh</mat-icon> Recargar</button>
  </sx-search-title>
  <mat-divider></mat-divider>
  <sx-facturas-table [facturas]="facturas$ | async" (xml)="onXml($event)" (pdf)="onPdf($event)" (edit)="onEdit($event)"
    [filter]="search$ | async">
  </sx-facturas-table>
  <mat-card-footer>
    <sx-facturas-filter-label [filter]="filter$ | async"></sx-facturas-filter-label>
  </mat-card-footer>
</mat-card>
-->
