<div layout>
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>Catálogo de grupos</mat-card-title>
    </mat-card-title-group>
    <mat-card-content class="mat-elevation-z6 container">
      <mat-nav-list *ngIf="(grupos$ | async) as grupos">
        <mat-list-item *ngFor="let grupo of grupos; last as last">
          <mat-icon matListAvatar>library_books</mat-icon>
          <a matLine>{{ grupo.nombre }}</a>
          <p matLine>{{ grupo.descripcion }}</p>
          <button mat-icon-button (click)="onEdit(grupo)">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="onDelete(grupo)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
  <a
    mat-fab
    matTooltip="Alta de Grupo"
    matTooltipPosition="before"
    color="accent"
    class="mat-fab-position-bottom-right z-3"
    (click)="onCreate()"
  >
    <mat-icon>add</mat-icon>
  </a>
</div>
